@import "../../../../global/styling.css";

.root {
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  padding: 130px 25px 0px;
}

@media only screen and (min-width: 768px) {
  .root {
    padding: 130px 50px 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    width: 1200px;
    margin: 0 auto;
  }
}