@import "../../../global/styling.css";

.root {
  outline: none;
  border: 1px var(--lifted2) solid;
  border-radius: 5px;
  height: 300px;
  width: 800px;
  max-width: 100%;
  padding: 25px;
  font-family: var(--default-font-paragraph);
  font-size: var(--default-font-size-paragraph);
  resize: none;
  background-color: var(--base);
  color: var(--default-font-colour);
  transition: var(--fast-transition);
}

.root::placeholder {
  color: var(--lifted3);
}

.root:not(:placeholder-shown) {
  color: var(--default-font-colour);
  border: 1px var(--lifted4) solid;
}