:root {
  /* RGB */
  --blackRGB: 0, 0, 0;
  --whiteRGB: 255, 255, 255;

  /* HEX */
  --black: #000000;
  --grey5: #1C1C1E;
  --grey4: #3a3a3c;
  --grey3: #707070;
  --grey2: #aca9a9;
  --grey1: #d9d9d9;
  --white: #ffffff;
  --blue: #43d3ee;
  --darkBlue: #000B1A;
  --green: #1ED760;
  --lightGreen: #86DEA5;
  --darkGreen: #1DB954;
  --red: #d5150a;
  --orange-darker: #FF9500;
  --orange-lighter: #FF9F0A;
  --yellow: #ffd60a;
}
