@font-face {
    font-family: 'gilroy extra bold';
    src: url('./fonts/GilroyExtraBold.otf');
}

@font-face {
    font-family: 'HKGrotesk_Bold';
    src: url('./fonts/HKGrotesk-Bold.otf');
}

@font-face {
    font-family: 'HKGrotesk_Regular';
    src: url('./fonts/HKGrotesk-Regular.otf');
}