@import './colours.css';

:root {
    --styled-font-colour: var(--black);
    --styled-base: var(--white);

    --styled-orange: var(--orange-darker);
    --styled-lifted5: var(--grey5);
    --styled-lifted4: var(--grey4);
    --styled-lifted3: var(--grey3);
    --styled-lifted2: var(--grey2);
    --styled-lifted1: var(--grey1);
}

