@import './fonts.css';
@import './colours.css';
@import './light.css';
@import './dark.css';

:root {
     /*
    * Colors
    ================================================================
    */
    --primary: var(--styled-orange);
    --secondary: var(--white);
    --link: var(--primary);
    --default-font-colour: var(--styled-font-colour);
    --base: var(--styled-base);
    --lifted5: var(--styled-lifted5);
    --lifted4: var(--styled-lifted4);
    --lifted3: var(--styled-lifted3);
    --lifted2: var(--styled-lifted2);
    --lifted1: var(--styled-lifted1);
    /*
    * Fonts
    ================================================================
    */
    --default-font-header: 'gilroy extra bold', sans-serif;
    --default-font-paragraph: 'HKGrotesk_Regular', serif;
    --default-font-paragraph-strong: 'HKGrotesk_Bold', serif;
    --default-font-size-header1: 3.5rem; /*56px*/
    --default-font-size-header2: 3rem; /*48px*/
    --default-font-size-header3: 2.5rem; /*40px*/
    --default-font-size-header4: 2.125rem; /*34px*/
    --default-font-size-header5: 1.5rem; /*24px*/
    --default-font-size-header6: 1.25rem; /*20px*/
    --default-font-size-paragraph: 1rem; /*16px*/
 
    --large-font-size-header1: 9.25rem; /*148px*/
    /*
    * Layout & Sizes
    ================================================================
    */
    --header-height: 80px;
    /*
    * Animation
    ================================================================
    */
    --fast-transition-duration: 0.15s;
    --default-transition-duration: 0.3s;
    --slow-transition-duration: 0.5s;
    --default-transition-type: ease-in-out;
    --fast-transition: var(--fast-transition-duration) var(--default-transition-type);
    --default-transition: var(--default-transition-duration) var(--default-transition-type);
    --slow-transition: var(--slow-transition-duration) var(--default-transition-type);
    /*
    * Media queries breakpoints
    ================================================================
    */
    --breakpoint-min: 768px;
    --breakpoint-med: 992px;
    --breakpoint-large: 1200px;
}