@import "../../global/styling.css";

.root {
  height: 100%;
  width: 100%;
  margin-bottom: 130px;
}

.root h1 {
  color: #e62853;
}

.root a {
  color: #e62853;
  font-weight: bold;
}

.root section {
  width: 100vw;
  display: flex;
  padding: 80px 300px 0px;
}

.root section ul {
  list-style: none;
  padding-left: 0;
}

.root section ul > li {
  margin-left: 15px;
  display: flex;
}

.root section ul > li::before {
  content: "-";
  margin-left: -1em;
  margin-right: 1em;
}
