@import "../../../../global/styling.css";

:root {
  --mobile: var(--breakpoint-mobile);
  --outerRingDimension: 450px;
}

.root {
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 80px 25px 0px;

  .title {
    margin: 150px 0 auto 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    h1 {
      z-index: 2;
    }

    p {
      color: var(--lifted3);
      max-width: 300px;
    }

    .textInner {
      display: flex;
      flex-direction: column;
    }
  }
  .scroll {
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .cartoonKevin {
    position: relative;
    width: 200px;
    height: auto;
    margin: 0 0 50px auto;
    z-index: -1;
  }
}

@media only screen and (min-width: 768px) {
  .root {
    width: 100vw;
    padding: 80px 50px 0px;

    .title {
      margin: auto 0 auto 0;
    }

    .cartoonKevin {
      position: absolute;
      right: 50px;
      bottom: 50px;
      width: 300px;
      margin: unset;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .root {
    width: 100vw;
    padding: 0 300px;

    .title {
      margin: auto;
    }

    .cartoonKevin {
      right: 300px;
      width: 400px;
    }

    .scroll {
      display: flex;
    }
  }
}
