@import "../../../global/styling.css";

/*Inputfield*/
.root[type="text"],
select {
  outline: none;
  border: none;
  border-bottom: 1px var(--lifted3) solid;
  height: 50px;
  font-family: var(--default-font-paragraph-strong);
  font-size: var(--default-font-size-header6);
  width: 500px;
  background-color: var(--base);
  color: var(--default-font-colour);
}

.root::placeholder {
  color: var(--lifted3);
}

.root[type="text"]:not(:placeholder-shown),
select:not(:placeholder-shown) {
  color: var(--default-font-colour);
  border-bottom: 1px var(--default-font-colour) solid;
}

/*Submit Button*/
.root[type="submit"]{
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--white);
  font-family: var(--default-font-paragraph-strong);
  font-size: var(--default-font-size-header6);
  height: 50px;
  width: fit-content;
  min-width: 200px;
  padding: 0 50px;
  align-items: center;
}

.root[type="submit"]:hover{
  filter: brightness(110%);
  cursor: pointer;
}
