@import "../../../globals/styling.css";

.project {
  box-sizing: border-box;
  background-color: black;
  height: 300px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  text-align: center;
  overflow: hidden;
}

.bannerDiv {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  left: 0;
  position: absolute;
  transition: var(--fast-transition);
  z-index: 0;
}

.projectBanner {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.project .haze {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(var(--blackRGB), 0), rgba(var(--blackRGB), 0.8) 105%);
  z-index: 1;
}

.projectTitleDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 20px;
  justify-content: flex-end;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 720px) {
  .project {
    height: 300px;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .project:hover {
    cursor: pointer;
  }

  .project {
    width: 33.333%;
  }

  .openOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    background-color: rgba(var(--blackRGB), 0.8);
    transition: var(--fast-transition);
    backdrop-filter: saturate(150%) blur(10px);
  }
  
  .openOverlay h4 {
    margin: auto 20px;
  }

  .openOverlay img {
    transform: rotate(180deg);
  }

  .openOverlay:hover {
    opacity: 1;
  }
}
