@import "../../../global/styling.css";

/* INACTIVE ================================================================*/

.root {
  background-color: var(--base);
  margin-left: 100%;
  width: 100vw;
  min-height: 100vh;
  display: block;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  z-index: 18;
  transition: var(--default-transition);
  /* CHANGE TO AUTO TO MAKE OVERFLOW X WORK ON MOBILE */
  -webkit-overflow-scrolling: touch;
}

.root.active {
  margin: 0;
}

.variableHeader {
  z-index: 20;
  width: 100%;
  height: 80px;
  padding: 0 300px;
  position: sticky;
  display: flex;
  align-items: center;
  transition: var(--default-transition);
  top: 0;
}

.variableHeader p {
  margin: 0 auto;
  opacity: 0;
  transition: var(--default-transition);
  color: var(--primary);
}

.variableHeader.visible {
  background-color: var(--base);
}

.variableHeader.visible p{
  opacity: 1;
}

.backContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 31;
}

.backContainer p {
  opacity: 1;
  color: var(--default-font-colour);
}

.dismissButton {
  display: block;
  width: auto;
  height: 15px;
  margin-right: 10px;
}

.backContainer p {
  display: block;
}

.frontpage {
  width: 100vw;
  height: 600px;
  top: 0;
  left: 0;
}

.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 680px;
  overflow: hidden;
}

.backgroundImage img {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transform-origin: center;
}

.backgroundFilter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 680px;
  background: linear-gradient(rgba(0, 11, 26, 0) 0%, rgba(0, 11, 26, 0.5) 45%, rgba(0, 11, 26, 1) 100%);
}

.projectTitle {
  position: absolute;
  left: 300px;
  top: 0;
  width: calc(100vw - 600px);
  height: 680px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  word-break: normal;
}

.projectTitle h5 {
  color: var(--primary);
}

.content {
  width: 100%;
  height: auto;
}