@import "../../../global/styling.css";

.root {
  margin: auto 0 100px 0;
  color: var(--default-font-colour);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px 25px 0px;

  h2 {
    font-size: var(--default-font-size-header4);
    line-height: unset;
    margin-bottom: calc(var(--default-font-size-header2) / 2);
  }

  .bannerContainer{
    margin-left: -25px;
    width: 100vw;
  }

  .textContainer {
    width: 100%;
    height: auto;

    .textInnerContainer {
      display: flex;
      flex-direction: column;

      .textContainerInner {
        width: 100%;
        p {
          margin-bottom: 25px;
        }
      }
    }
  }

  .textAndImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      width: 100%;
      margin-bottom: 25px;
    }

    > :last-child {
      margin-bottom: 0;
    }

    .textAndImageContainerText {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 25px;
      }
    }

    .textAndImageContainerImage {
      display: flex;
      flex-direction: column;

      .imageContainerInner {
        width: 100vw;
        margin-left: -25px;
        position: relative;
        max-height: 360px;
        overflow: hidden;
        margin-bottom: 25px;

        > :last-child {
          height: 200px;
        }

        > * {
          max-height: inherit;

          p {
            color: var(--default-font-color-paragraph);
          }
        }
      }

      p {
        color: var(--lifted3);
      }
    }
  }

  .textAndImageContainer.reversed {
    flex-direction: column-reverse;

    .textAndImageContainerText {
      h2 {
        margin-top: 50px;
      }
    }
  }

  .imageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      margin-top: 25px;
      text-align: center;
    }

    > * {
      width: 650px;
      max-width: 100%;
      max-height: 360px;
      border-radius: 5px;
    }

    .imageContainerInner {
      width: 100vw;
      max-width: unset;
      position: relative;
      max-height: 360px;
      overflow: hidden;
      margin-bottom: 25px;
      border-radius: 0;

      > :last-child {
        height: 200px;
      }

      > * {
        max-height: inherit;

        p {
          color: var(--default-font-color-paragraph);
        }
      }
    }

    p {
      color: var(--lifted3);
    }
  }

  .overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: var(--fast-transition);
    z-index: 19;

    .overlay_inner {
      display: flex;
      flex-direction: row;

      img {
        margin-right: 10px;
      }
    }
  }
}

.root.lifted {
  background-color: var(--lifted1);
  margin: 0;
  margin-bottom: 100px;
  width: 100%;
  padding: 50px 25px;
}

@media screen and (min-width: 768px) {
  .root {
    padding: 50px 50px 0px;
    margin-bottom: 200px;

    h2 {
      font-size: var(--default-font-size-header2);
    }

    .bannerContainer{
      margin-left: -50px;
      width: 100vw;
    }

    .textContainer {
      .textInnerContainer {
        display: flex;
        flex-direction: row;
  
        > :first-child {
          margin-right: 50px;
        }
  
        .textContainerInner {
          width: calc(50% - 25px);
          p {
            margin-bottom: 25px;
          }
        }
      }
    }

    .textAndImageContainer.reversed {
      flex-direction: row-reverse;

      .textAndImageContainerText {
        h2 {
          margin-top: unset;
        }
      }
    }

    .imageContainer {
      .imageContainerInner {
        width: 650px !important;
        max-width: 100%;
        border-radius: 5px;

        > :last-child {
          height: 650px !important;
        }
      }
    }

    .textAndImageContainer {
      flex-direction: row;

      .imageContainerInner {
        width: 100% !important;
        margin-left: 0 !important;
        border-radius: 5px;

        > :last-child {
          height: 650px !important;
        }
      }

      .textAndImageContainerText {
        p {
          margin-bottom: unset;
        }
      }

      > * {
        width: calc(50% - 25px);
      }
    }
  }

  .root.lifted {
    padding: 100px 50px;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .root {
    padding: 0;
    margin: 0 auto 200px auto;
    width: 1200px;

    .bannerContainer{
      margin-left: calc(0px - calc(calc(100vw - 1200px) / 2));
      width: 100vw;
    }

    .overlay {
      display: flex;

      &:hover {
        opacity: 1;
      }
    }
  }

  .root.lifted {
    padding: 100px calc(calc(100% - 1200px) / 2);
  }
}
