@import "../../../global/styling.css";

.root {
  margin: auto 0 50px 0;
  color: var(--default-font-colour);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  display: flex;
  padding: 50px 25px 0px;

  .textContainer {
    width: 75%;
    height: auto;
  }

  .textAndImageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    > * {
      width: 100%;
      margin-bottom: 25px;
    }

    > :last-child {
      margin-bottom: 0;
    }

    .imageContainerInner {
      position: relative;
      max-height: 360px;
      border-radius: 5px;
      overflow: hidden;

      > * {
        max-height: inherit;
      }
    }
  }

  .imageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > p {
      margin-top: 25px;
      text-align: center;
    }

    > * {
      width: 650px;
      max-width: 100%;
      max-height: 360px;
      border-radius: 5px;
    }

    .imageContainerInner {
      position: relative;
      border-radius: 5px;
      max-height: 360px;
      overflow: hidden;

      > * {
        max-height: inherit;
      }
    }
  }

  .overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: var(--fast-transition);
    z-index: 19;

    &:hover {
      opacity: 1;
    }

    .overlay_inner {
      display: flex;
      flex-direction: row;

      img {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .root {
    padding: 50px 50px 0px;

    .textAndImageContainer {
      flex-direction: row;

      > * {
        width: calc(50% - 25px);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .root {
    padding: 50px 300px 0px;
  }
}
